body {
    padding-top: 100px;
    color: #005E56;
}
hr {
    margin:40px 0;
}
h3 { color:#005E56}
h4 { color:#005E56}
p { color:#005E56}
h3 span {font-size:14px; display:block;}
span[ng-click] {
    cursor: pointer;
}
.summary {
    top: 20px;
}
.icon {
    float: left;
    cursor: pointer;
}
.switchButton {
    background-color: #E44D26;
    height: 35px;
    color: darkgray;
    float: right;
    right: 100px;
    margin-top: 50px;
    margin-right: 150px;
    border-radius: 5px;
}
.buyNow {
    float: right;
    margin-top: 50px;
    margin-right: 150px;
    height: 125px;
    width: 200px;
    /*border: 1px solid darkgray;*/
    /*border-radius: 5px;*/
}
.paypalImage {
    height: 30px;
    display: block;
    position: center;
    margin: 10px 29px 15px auto;
}


.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #eeeeee;
    margin-top: 10px;
}

.brandimg {
    height: 100px;
    padding: 0%;

}

.dropdown-toggle {
    width: 100px;
    margin-top: 15px;

}

.navbar-header {
    height: 125px;
}
.navbar-default .navbar-nav>li>a {
    color: #005E56;
}

.btn-primary {
    background-color: #7C4982;
    border-color: #7C4982;
}