
<div class="container">
    <div class="text-center">
        <img src="img/2bucklogo.png" alt="I am Sock">
    </div>
    <h1 class="text-center"> Your Single Sock Source <small>
        <a href="http://gulpjs.com/"></a>
        <a href="getbootstrap.com"></a>
        <a href="http://lesscss.org/"></a></small></h1>
    <div>

        <h3>
            About Us!
        </h3>

        <p>
            Some people like socks.  Because they like socks, we sell socks.  Some people like socks too much, and they
            ruin their socks... But only one sock... The right one... So because they ruin the right sock, we sell socks...
            one at a time...  For a buck...  Other people lose socks, and blame it on their washer, dryer, dog, terrorists,
            government or strange religion... but only one sock... the left one... And because they lose that sock... We sell
            socks... One at a time... For a buck...  For those who belong to both of these groups... We still sell socks...
            2 socks... for 2 bucks... Welcome to 2 buck socks!
        </p>

    </div>

<!--<a ui-sref="login" class="button btn btn-white btn-outline btn-lg btn-rounded">Login</a>-->
<button ui-sref="login" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
<ul class="list-group">
    <!--<li ng-repeat="task in tasks" class="list-group-item">{{task}}</li>-->
</ul>
</div>